* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.div-image {
    position: relative;
}

.subdiv-image {
    position: absolute;
    top: 99px;
    left: 150.4px;
}

.subdiv-image img {
    height: 30.6rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo img {
    height: 6rem;
    border-radius: 50%;
}

.instagram-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 35rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    border: 1px solid lightgray;
    background-color: #ffffff;
}

.group:nth-child(1) {
    height: 19rem;
}

.group p {
    color:#262626;
}

.group p span {
    color: #0095f6;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.download a {
    height: 40px;
    width: 135px;
    background: no-repeat;
    background-size: contain;
}

.download a:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.download a:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-image {
        display: none;
    }

    .instagram-form {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}